# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
#!pip install -U scipy

In [4]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [5]:
# Your code here:

data = pd.read_csv("C:/Users/JC88Main/Week4/Day3/Lab2/lab-Hypothesis-Testing-master/data/Salaries.csv")

C:\Users\Jo√£oCabral\AppData\Local\Temp\ipykernel_21168\3336712276.py:3: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("C:/Users/JC88Main/Week4/Day3/Lab2/lab-Hypothesis-Testing-master/data/Salaries.csv")

Examine the `salaries` dataset using the `head` function below.

In [6]:
# Your code here:

data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [7]:
# Your code here:

data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [8]:
# Your code here

data.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [9]:
# Notes seems irrelevant and has a lot of Nan.

data = data.drop(columns = "Notes", axis = 1)

In [10]:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [11]:
# Your code here

data["Status"].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [12]:
# Your code here

data = data[data["Status"].isna() == False]

In [13]:
# Your code here

data.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [14]:
# Your code here

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [15]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

In [16]:
# According to data info we have BasePay, OvertimePay, OtherPay and Benefits considered to be object
#We should change it to floats

Do any type conversions and reset the index.

In [17]:
# Your code here

def conv_float(x) :
    x = pd.to_numeric(x, downcast="float")
    return x

In [18]:
# Your code here

data['BasePay'] = list(map(conv_float, data['BasePay']))
data['OvertimePay'] = list(map(conv_float, data['OvertimePay']))
data['OtherPay'] = list(map(conv_float, data['OtherPay']))
data['Benefits'] = list(map(conv_float, data['Benefits']))

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.8+ MB

In [20]:
data.reset_index()

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.630000,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.540000,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.700000,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.720000,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.440000,91201.66,326233.44,417435.10,2014,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.000000,0.00,0.00,0.00,2014,San Francisco,PT
38115,148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.000000,0.00,0.00,0.00,2014,San Francisco,PT
38116,148648,148649,Leon Walker,Custodian,0.00,0.00,0.000000,0.00,0.00,0.00,2014,San Francisco,PT
38117,148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.000000,0.00,0.00,0.00,2014,San Francisco,PT
38118,148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.130005,0.00,-618.13,-618.13,2014,San Francisco,PT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [21]:
# Your code here

data["TotalPayBenefits"] == data["BasePay"] + data["OvertimePay"] + data["OtherPay"] + data["Benefits"]

110531     True
110532    False
110533     True
110534    False
110535     True
          ...
148645     True
148647     True
148648     True
148649     True
148653    False
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [22]:
# Your code here:

#(data['TotalPayBenefits']==data['TotalPayBenefits']).value_counts()

In [23]:
#(((data['TotalPayBenefits']==data['TotalPayBenefits']).value_counts())/len(data))*100

In [24]:
x = data["TotalPayBenefits"] == data["BasePay"] + data["OvertimePay"] + data["OtherPay"] + data["Benefits"]

In [25]:
x.value_counts()/x.shape[0]*100

False    60.84105
True     39.15895
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [26]:
# Your code here:

pd.DataFrame(data.groupby(["JobTitle"]).size(), columns = ["Employees"])

                                Employees
JobTitle
ACPO,JuvP, Juv Prob (SFERS)             1
ASR Senior Office Specialist           22
ASR-Office Assistant                   15
Account Clerk                          93
Accountant I                            2
...                                   ...
Wire Rope Cable Maint Sprv              1
Worker's Comp Supervisor 1              6
Worker's Compensation Adjuster         26
X-Ray Laboratory Aide                  35
Youth Comm Advisor                      1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [27]:
# Your code here: (compute the "Hourly_Wage")

data["HourlyWage"] = data["TotalPayBenefits"]/(50*40)

In [28]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,HourlyWage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [29]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [30]:
data["HourlyWage"][data["Status"] == "FT"].mean()

69.264206407271

In [31]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

import statistics as stats
import math
import scipy.stats as st

In [32]:
#H0: = $75/hr
#H1: != $75/hr

FT = data[data["Status"] == "FT"]
print(FT.shape)
mean_HW = FT["HourlyWage"].mean()
print(mean_HW)
stdev_HW = stats.stdev(FT["HourlyWage"])
print(stdev_HW)

(22334, 13)
69.264206407271
23.939610982990395

In [59]:
t = (mean_HW-75)/(stdev_HW/math.sqrt(22334))
t

-35.80631941460793

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [ ]:
lower_critical_value = st.t.ppf(0.025, 22333)
print(lower_critical_value)

upper_critical_value = st.t.ppf(0.975, 22333)
print(upper_critical_value)

In [ ]:
#Focusing in the lower critical value (-1.96) we can see that it is much higher than the mean (-35.8)
#so we should reject Null hipothesis

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [ ]:
st.t.cdf(t, 22333)

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy

# Your code here:

In [ ]:
st.ttest_1samp(FT["HourlyWage"], 75, alternative='two-sided')

Are all the methods in agreement?

In [ ]:
#Yes, reject null hipothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [ ]:
police_tpb = data["TotalPayBenefits"][data["JobTitle"].str.contains("Police")]

mean_police_tpb = police_tpb.mean()
std_police_tpb = np.std(police_tpb, ddof = 1)

t_statistic_police_tpb = (mean_police_tpb-86000)/(std_police_tpb/np.sqrt(police_tpb.count()))
t_statistic_police_tpb

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [ ]:
critical_value = st.t.ppf(0.05, 1900)
critical_value

In [ ]:
# the t_statistic is much higher than critical value. We can accept Null hipoteses
#The chief of police statement is true

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [ ]:
pvalue = st.t.cdf(t, 1900)
pvalue

In [ ]:
# p-value much higher than 0.05
# null hipothesis can be accepted

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [ ]:
t_stats_police_tpb = ttest_1samp(police_tpb, 86000, alternative = "less")
t_stats_police_tpb

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here: (Get the department which has most employees)

In [ ]:
data.groupby(["JobTitle"]).size().sort_values(ascending = False).index[0]

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [ ]:
max_jobtitle = data[data["JobTitle"] == "Transit Operator"]
max_jobtitle.shape

In [ ]:
mean_HW = max_jobtitle["HourlyWage"].mean()
print(mean_HW)
stdev_HW = stats.stdev(max_jobtitle["HourlyWage"])
print(stdev_HW)
t = (mean_HW-35)/(stdev_HW/math.sqrt(2479))
t

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [ ]:
critical_value = st.t.ppf(0.95, 2478)
critical_value

In [ ]:
# So t is higher than our critical value therefore null hipothesis should be rejected
# Also hourly wage is higher than 35 per hour

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [ ]:
pvalue = 1-(st.t.cdf(t, 2478))
pvalue

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [ ]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [34]:
confidence_level = 0.95
degrees_freedom = len(data["HourlyWage"]) - 1
sample_mean = np.mean(data["HourlyWage"])
print(sample_mean)
sample_standard_error = st.sem(data["HourlyWage"])
confidence_interval = st.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)

50.130719334189436
(49.798255413084014, 50.46318325529486)

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [37]:
police = data[data['JobTitle'].str.contains("Police")]
police.shape

(1901, 13)

In [38]:
# Your code here:

confidence_level = 0.95
degrees_freedom = len(police["HourlyWage"]) - 1
sample_mean = np.mean(police["HourlyWage"])
print(sample_mean)
sample_standard_error = st.sem(police["HourlyWage"])
confidence_interval = st.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)

74.1745210625985
(72.9578791736444, 75.3911629515526)

#¬†Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawyers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [39]:
# Your code here: (Create the function)

def job_groups(x):
    if "Police" in x:
        x = "Policemen"
    elif "Fire" in x:
        x = "Firemen"
    elif "Med" in x or "Nurse" in x:
        x = "Medical"
    elif "Attorney" in x:
        x = "Lawyer"
    else:
        x = "Other"
        
    return x

In [ ]:
# Your code here: (Apply the function)

In [40]:
data["EmployeeGroup"] = data["JobTitle"].apply(job_groups)
data["EmployeeGroup"].value_counts()

Other        30371
Medical       3917
Policemen     1901
Firemen       1511
Lawyer         419
Name: EmployeeGroup, dtype: int64

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

In [41]:
employee_group = data.groupby(["EmployeeGroup", "Status"]).agg({"Status":"count"})
employee_group.columns = ["Count"]
employee_group = employee_group.reset_index()
employee_group = employee_group.pivot(index='EmployeeGroup',columns='Status').reset_index()
employee_group

       EmployeeGroup  Count
Status                   FT     PT
0            Firemen   1333    178
1             Lawyer    317    102
2            Medical   1028   2889
3              Other  18126  12245
4          Policemen   1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [42]:
frequencies = pd.DataFrame()
frequencies

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [43]:
total = data["EmployeeGroup"].count()
ft_total = data["Status"][data["Status"] == "FT"].count()
pt_total = data["Status"][data["Status"] == "PT"].count()
fire_total = data["EmployeeGroup"][data["EmployeeGroup"] == "Firemen"].count()
law_total = data["EmployeeGroup"][data["EmployeeGroup"] == "Lawyer"].count()
med_total = data["EmployeeGroup"][data["EmployeeGroup"] == "Medical"].count()
other_total = data["EmployeeGroup"][data["EmployeeGroup"] == "Other"].count()
pol_total = data["EmployeeGroup"][data["EmployeeGroup"] == "Policemen"].count()

In [44]:
firemen_ft = (fire_total*ft_total)/total
firemen_ft

885.2979878800598

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [45]:
firemen_pt = (fire_total*pt_total)/total
firemen_pt

625.7020121199402

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [46]:
lawyers_ft = (law_total*ft_total)/total
lawyers_ft

245.4929562685275

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [47]:
lawyers_pt = (law_total*pt_total)/total
lawyers_pt

173.5070437314725

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [48]:
medical_ft = (med_total*ft_total)/total
medical_ft

2294.978304782392

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [49]:
medical_pt = (med_total*pt_total)/total
medical_pt

1622.021695217608

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [50]:
other_ft = (other_total*ft_total)/total
other_ft

17794.430966184842

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [51]:
other_pt = (other_total*pt_total)/total
other_pt

12576.569033815158

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [52]:
policemen_ft = (pol_total*ft_total)/total
policemen_ft

1113.7997848841785

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [53]:
policemen_pt = (pol_total*pt_total)/total
policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [ ]:
# Your code here:

In [54]:
ft = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
pt = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]
dic = {"FT": ft, "PT": pt}
df = pd.DataFrame(dic)
df

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [55]:
employee_group = employee_group.iloc[:,1:]

In [56]:
st.chi2_contingency(employee_group)

(2676.642333711905,
 0.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [58]:
st.chi2.ppf(0.95,df=4)

9.487729036781154

The chi2 of 2676 is > critical value of 9.48 and the p value of 0 is < alpha of 0.05. So reject H0. There is a dependency between the job group and type of employement being full time or part time.